/* Mobile Styles */
@media only screen and (max-width: 430px) {
    /* Global Styles */
    body {
        width: 100% !important;
        height: 100vh !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #title {
        text-align: center;
    }

    #title img {
        width: 200%;
        max-width: 100%; 
        display: block;
        margin: 0 auto; 
    }

    .popup {
        top: 17%;
        left: 5%;
        width: 40%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .modal-content {
        margin: 10% auto;
        width: 88%;
        height: auto;
    }

    .close {
        top: 8%;
        right: 5%;
    }

    .content-container {
        width: 100%;
    }

    #correctAnswer{
        font-size: 50px;
    }

    #guessCount{
        font-size: 25px;
    }

    @keyframes moveBoxMobile {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(380%);
        }
    }

    .move-box-animation {
        animation: moveBoxMobile 0.25s linear forwards !important;
    }
}
