<!DOCTYPE html>
<html>
<head>
    <title>Tweedle</title>
    <link rel="icon" type="image/tweedle-icon" href="static/icons/tweedle_web_icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/mobile.css">
    <link rel="stylesheet" href="static/desktop.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Love celebrity trivia and Wordle? Discover a unique daily game that combines both! Test your knowledge, challenge yourself, and play now. Engage in the ultimate celebrity Wordle experience!"/>
</head>
<body>
    <div id="title" class="fade-in">
        <img src="/static/tweedle_logo.gif" alt="Logo">
    </div>
    <div id="subtitle">
        <div id="attempts" class="subtitle-part delayed-animation">
            <span class="digit">5</span> attempts
        </div>
        <div id="star" class="subtitle-part">
            <span class="digit">1</span> star  
        </div>
    </div>
    <div id="buttons">
        <button id="howToPlayButton" class="button">
            <img src="/static/icons/question.png" alt="play" width="40" height="40">
        </button>
        <button id="playButton" class="button">
            <img src="/static/icons/play.png" alt="play" width="40" height="40">
        </button>
        <button id="settingsButton" class="button">
            <img src="/static/icons/setting.png" alt="settingscog" width="40" height="40">
        </button>
    </div>    
    <div id="playModal" class="modal">
        <div class="modal-content large">
            <span class="close" id="closePlayModal">&times;</span>
            <h2 class="play-game-title"> Play Game <img src="/static/icons/menu.png" alt="Menu Icon" id="menuIcon"></h2>
            <div class="content-container">
                <div id="popupWindow" class="popup">
                    <div id="buttonContainer" class="popup-content"></div>
                </div>
                <div class="tweet">
                    <div class="user-profile">
                        <img src="static/icons/pfp_icon.png" alt="User Profile Picture">
                    </div>
                    <div class="tweet-content">
                        <div class="user-info">
                            <span class="user-fullname">Tweedle User</span>
                            <span class="username">@tweedlegame</span>
                            <span class="timestamp">2h ago</span>
                        </div>
                        <p class="tweet-text">
                            This is a sample tweet. You can replace this text with your actual tweet content.
                        </p>
                        <div class="tweet-actions">
                            <span class="action like">Like</span>
                            <span class="action retweet">Retweet</span>
                            <span class="action reply">Reply</span>
                        </div>
                        <div class="tweet-stats">
                            <span class="likes-count">
                                <img src="static/icons/like.png" alt="Like Icon"> 6.3k
                            </span>
                            <span class="retweets-count">
                                <img src="static/icons/retweet.png" alt="Retweet Icon"> 180
                            </span>
                        </div>
                    </div>
                </div>                               
            </div>
            <div class="numbered-boxes">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search...">
                <div id="suggestions"></div>
                <button id="searchButton" type="button">Search</button>
            </div>
            <div id="answerStatus"></div>
            <audio id="rightAnswerSound" src="/static/soundeffects/correct-answer.wav"></audio>
            <audio id="wrongAnswerSound" src="/static/soundeffects/wrong-answer.wav"></audio>
        </div>
    </div>
    <div id="instructionModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2 style="text-align: center;">
             Welcome to <img src="/static/tweedle_logo.gif" alt="Logo" style="width: 30%; max-height: 60px; vertical-align: middle;"> <br> The daily celebrity tweet guessing game
            </h2>
            <i style="font-style: italic; color: #555; display: block; margin-bottom: 10px; text-align: center;">Tweedle updates at midnight</i>
            <div style="display: block; margin-bottom: 20px;">
                <span style="font-size: 18px; text-align: center;">In Tweedle, your goal is to guess which celebrity made certain tweets. You have 5 chances to get it right, or you lose the game. The clues will get easier as you progress.</span>
            </div>
            <div style="display: block; margin-bottom: 20px;">
                <span style="font-size: 18px;"><strong>Instructions:</strong></span>
            </div>
            <div style="display: block; margin-bottom: 20px;">
                <span style="font-size: 16px; text-align: left; display: block;">
                    1. Read the tweet and try to guess which celebrity tweeted it.
                    <br>
                    2. Type in the name of the celebrity you think is the author of the tweet and click on the "Search" button.
                    <br>
                    3. If your guess is correct, you win the game!
                    <br>
                    4. If your guess is wrong, you lose an attempt.
                    <br>
                    5. Click on the menu button to explore previous games.
                </span>
            </div>
            <div style="display: block; text-align: center; margin-bottom: 10px;">
                <span style="font-size: 18px;">Don't forget to explore the settings for additional challenges.</span>
            </div>
            <div style="display: block; text-align: center; margin-bottom: 10px;">
                <img src="static/icons/tweedle_web_icon.png" alt="Logo" width="100px" height="100px">
            </div>    
        </div>
    </div>
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeSettingsModal">&times;</span>
            <h2>Settings</h2>
            <div class="setting-container">
                <div class="setting-label">
                    <label for="dark-mode">Dark Mode</label>
                    <div class="setting-input">
                        <label class="switch">
                            <input type="checkbox" id="dark-mode">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="setting-description">
                    Enable or disable the dark mode for the app.
                </div>
            </div>
            <!---
            <hr class="setting-separator">
            <div class="setting-container">
                <div class="setting-label">
                    <label for="hard-mode">Hard Mode</label>
                    <div class="setting-input">
                        <label class="switch">
                            <input type="checkbox" id="hard-mode">
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="setting-description">
                    Toggle hard mode for a more challenging experience.
                </div>
            </div>
            -->
            <hr class="setting-separator">
            <div class="setting-container">
                <div class="setting-label">
                    <label for="sound-effects">Sound Effects</label>
                    <div class="setting-input">
                        <label class="switch">
                            <input type="checkbox" id="sound-effects" checked>
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
                <div class="setting-description">
                    Toggle sound effects for the right/wrong answer.
                </div>
            </div>
            <hr class="setting-separator"> <!-- Horizontal line separator -->
            <div class="setting-container">
                <div class="setting-label">
                    <label for="report-bug">Report a Bug</label>
                    <div class="setting-input">
                        <button id="report-bug" type="button" onclick = "openEmail()" >Report</button>
                    </div>
                </div>
                <div class="setting-description">
                    Report an issue if you found one.
                </div>
            </div>
            <hr class="setting-separator"> <!-- Horizontal line separator -->
            <div class="setting-container">
                <div class="setting-label">
                    <label for="give-feedback">Give Feedback</label>
                    <div class="setting-input">
                        <button id="give-feedback" type="button">Email</button>
                    </div>
                </div>
                <div class="setting-description">
                    Send us feedback or suggest new puzzles!
                </div>
            </div>
            <hr class="setting-separator"> <!-- Horizontal line separator -->
            <div class="setting-container" id="creditsSection">
                <div class="setting-label">
                    <label for="get-credits">Credits</label>
                    <div class="setting-input">
                        <button id="get-credits" type="button"> Credits </button>
                    </div>
                </div>
                <div class="setting-description">
                    People who contributed to this website.
                </div>
            </div>
        </div>
    </div>
    <div id="analyticsModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeAnalyticsModal">&times;</span>
            <div id="analyticsContent">
                <div id="feedback">
                    <p id="feedback-text"></p>
                    <p id="feedback-subtitle"></p>
                    <p id="guessCount"></p>
                    <p id="correctAnswer"></p>
                    <div class="copy-box">
                        <div class="clue-box"></div>
                        <div class="clue-box"></div>
                        <div class="clue-box"></div>
                        <div class="clue-box"></div>
                        <div class="clue-box"></div>
                    </div>
                    <div class="share-results">
                        <button id="shareResultsButton" class="share-button">
                            <i class="fas fa-share"></i> Share Results
                        </button>
                    </div>
                    <hr class="setting-separator"> <!-- Horizontal line separator -->
                    <div id="copyMessageStatus"></div>
                    <div class="message-to-copy">
                        <p>Your message to be copied goes here.</p>
                    </div>
                    <div class="play-more-text"> Want to play more? </div>
                    <button id="playAnotherButton" class="button">
                        <img src="/static/icons/play.png" alt="play" width="40" height="40">
                    </button>
                    <hr class="setting-separator"> <!-- Horizontal line separator -->
                    <div class="intro-text">Let's see how others are doing:</div>
                    <div class="analyticsData">
                        <div class="analytics-container">
                            <div class="circle">
                                <div class="number" id="percentageNumber">0.00%</div>
                            </div>
                            <div class="label">Players solving this puzzle correctly</div>
                        </div>
                        <div class="analytics-container">
                            <div class="circle">
                                <div class="number" id="averageNumber">0.00</div>
                            </div>
                            <div class="label">Average attempts to solve correctly</div>
                        </div>
                    </div>  
                    <hr class="setting-separator"> <!-- Horizontal line separator -->
                    <div class="next-game">
                        <p>Next Game In:</p>
                        <p id="countdown"></p>
                    </div>
                    <!--
                    <hr class="setting-separator">
                    <div class="social-section">
                        <p>Follow our Socials!</p>
                        <div class="social-icons">
                            <div class="social-item">
                                <img src="/static/icons/instagram-icon.png" alt="Instagram Icon" class="icon">
                                <p>@tweedlegame</p>
                            </div>
                            <div class="social-item">
                                <img src="/static/icons/twitter-icon.png" alt="Twitter Icon" class="icon">
                                <p>@tweedlegame</p>
                            </div>
                            <div class="social-item">
                                <img src="/static/icons/tiktok-icon.png" alt="TikTok Icon" class="icon">
                                <p>@tweedlegame</p>
                            </div>
                        </div>
                    </div>    
                    -->
                </div>
            </div>
        </div>
    </div>
    <div id="creditsModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeCreditsModal">&times;</span>
    
            <div class="credits-section">
                <div>
                    <h2>Developers</h2>
                    <ul>
                        <li>Egan Trahant</li>
                        <li>Dylan Mather</li>
                    </ul>
                </div>
                <i class="fas fa-code"></i>
            </div>
    
            <hr class="setting-separator">
    
            <div class="credits-section" style="flex-direction: row-reverse;">
                <div>
                    <h2>Puzzle Master</h2>
                    <ul>
                        <li>Lee Meeker</li>
                    </ul>
                </div>
                <i class="fas fa-puzzle-piece"></i>
            </div>
    
            <hr class="setting-separator">
    
            <div class="credits-section">
                <div>
                    <h2>Artist</h2>
                    <ul>
                        <li>Luc Allain</li>
                    </ul>
                </div>
                <i class="fas fa-paint-brush"></i>
            </div>
        </div>
    </div>
    <script type="module" src="/static/javascript/main.js"></script>
    <script type="module" src="/static/javascript/shared.js"></script>
    <script type="module" src="/static/javascript/play-modal.js"></script>
    <script type="module" src="/static/javascript/animation.js"></script>
    <script type="module" src="/static/javascript/analytics-modal.js"></script>
    <script type="module" src="/static/javascript/suggestions.js"></script>
    <script type="module" src="/static/javascript/sound-effects.js"></script>
    <script type="module" src="/static/javascript/dark-mode.js"></script>
    <script type="module" src="/static/javascript/email.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        let timeout;

        document.addEventListener('scroll', function () {
            clearTimeout(timeout);

            document.body.classList.remove('no-scroll');

            timeout = setTimeout(function () {
                document.body.classList.add('no-scroll');
            }, 1000);
        });
    </script>
</body>
</html>
